.analysis {

  &--spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;

    &--select{
      border-radius: 20px;
      width: 200px;
      max-width: 500px;
      transition: width .5s ease-in-out;
      background-color: white;

      &:focus{
        width: 300px;
      }
    }
  }

  &--link {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    &--button {
      width: 120px;
      border: 2px solid #282c34;
      color: #282c34;
      text-decoration: none;
      border-radius: 20px;
      margin-bottom: 20px;

      &:hover{
        background-color: #dee8ff;
      }
    }
  }

}
